@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-UltraLight.woff2) format("woff2"), url(../fonts/Gilroy-UltraLight.woff) format("woff2"), url(../fonts/Gilroy-UltraLight.ttf) format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Light.woff2) format("woff2"), url(../fonts/Gilroy-Light.woff) format("woff2"), url(../fonts/Gilroy-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Regular.woff2) format("woff2"), url(../fonts/Gilroy-Regular.woff) format("woff2"), url(../fonts/Gilroy-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Medium.woff2) format("woff2"), url(../fonts/Gilroy-Medium.woff) format("woff2"), url(../fonts/Gilroy-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Semibold.woff2) format("woff2"), url(../fonts/Gilroy-Semibold.woff) format("woff2"), url(../fonts/Gilroy-Semibold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Extrabold.woff2) format("woff2"), url(../fonts/Gilroy-Extrabold.woff) format("woff2"), url(../fonts/Gilroy-Extrabold.ttf) format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Heavy.woff2) format("woff2"), url(../fonts/Gilroy-Heavy.woff) format("woff2"), url(../fonts/Gilroy-Heavy.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}



*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	line-height: normal;
	color: #041D0A;
	background-color: #F6F7FA;
	font-size: 16px;
	font-weight: 400;
	font-family: "Gilroy", sans-serif;
}

a {
	text-decoration: none;
	color: #041D0A;
	font-family: "Gilroy", sans-serif;
}

ul,
ol,
li {
	list-style: none;
}

input {
	outline: none;
	font-family: "Gilroy", sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 24px;
	line-height: 50px;
	font-family: Rounds, sans-serif;
	font-weight: 400;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	font-family: Gilroy, sans-serif;
	font-weight: 700;
}

h3,
h4,
h5,
h6 {
	font-size: 16px;
	line-height: 22px;
	font-family: Gilroy, sans-serif;
	font-weight: 700;
}

button {
	font-family: "Gilroy", sans-serif;
	color: #041D0A;
}

.container {
	max-width: 1760px;
}

.select-drop {
	border-radius: 10px;
	background-color: #FFF;
	position: relative;
	cursor: pointer;
}

.select-drop__arrow {
	width: 14px;
	height: 14px;
	top: 8px;
	right: 10px;
	position: absolute;
	transform: translateY(5px) rotate(-180deg);
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.select-drop_active .select-drop__arrow {
	transform: translateY(5px) rotate(0deg);
}

.select-drop__arrow-img {
	width: 100%;
	object-fit: cover;
}

.select-drop__input-wrap {
	width: 100%;
	height: 100%;
}

.select-drop__input {
	width: 100%;
	height: 100%;
	font-size: 16px;
	cursor: pointer;
}

.select-drop__list {
	width: 100%;
	max-height: 0px;
	top: 45px;
	left: 0;
	position: absolute;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(36, 36, 36, 0.20), 0px 0px 4px 0px rgba(36, 36, 36, 0.15);
	overflow-y: auto;
	scrollbar-width: none;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	z-index: 1;
}

.select-drop__list::-webkit-scrollbar {
	width: 0px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.select-drop_active .select-drop__list {
	max-height: 300px;
}

.select-drop__list-item {
	padding: 10px;
	background-color: #fff;
	cursor: pointer;
}

.select-drop__list-item:hover {
	background: rgba(95, 174, 44, 0.10);
}

/*
*********
MAIN PAGE
*********
*/


.main-page {}

.main-page__background {
	top: 0;
	bottom: 0px;
	left: 0;
	right: 0;
	position: fixed;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	z-index: 0;
}

.main-page__background-img {
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
}

.main-page__header {
	top: 50px;
	left: 0;
	right: 0;
	position: fixed;
	max-width: 1760px;
	margin: auto;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.main-page__header-left {}

.main-page__header-logo {}

.main-page__header-logoMain {}

.main-page__header-right {}

.main-page__header-buttons {
	display: flex;
	align-items: stretch;
	gap: 20px;
}

.main-page__header-personal {
	height: 55px;
	padding: 16px 45px;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	background-color: #5FAE2C;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.main-page__header-personal img {
	margin-right: 10px;
}

.main-page__header-phone {
	width: 55px;
	border-radius: 10px;
	background-color: #5FAE2C;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.main-page__header-telegram {
	width: 55px;
	border-radius: 10px;
	background-color: #5FAE2C;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.main-page__title {
	position: relative;
	max-width: 1760px;
	margin: 0 auto;
	margin-top: 300px;
	z-index: 1;
}

.main-page__title-big {
	max-width: 650px;
	font-size: 82px;
	color: #fff;
}

.main-page__title-green {
	color: #5FAE2C;
}

.main-page__title-little {
	margin-top: 20px;
	color: #FFF;
	font-size: 22px;
}

.main-page__title-personal {
	display: none;
}

.main-page__title-personal {}

.main-page__carousel {
	position: absolute;
	bottom: 70px;
	width: 100%;
	z-index: 1;
}

.main-page__carousel-alert {
	color: #FFF;
	font-size: 18px;
	max-width: 1760px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main-page__carousel-wrap {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none
}

.main-page__carousel-wrap::-webkit-scrollbar {
	display: none
}

.main-page__carousel-scroll {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 1760px;
	margin: 0 auto;
}

.main-page__carousel-content {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.main-page__carousel-item {
	width: 230px;
	height: 100px;
	background-color: #3c3c3c;
	border-radius: 10px;
}

.main-page__modal {
	/* position: relative; */
	/* overflow: hidden; */
}

.main-page__modal-close {
	width: 48px;
	height: 48px;
	top: 50px;
	right: 80px;
	position: fixed;
	background-color: unset;
	transform: translateX(300%);
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
	z-index: 999;
}

.main-page__modal-item_active .main-page__modal-close {
	transform: translateX(0);
}

.main-page__modal-line:first-child {
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background-color: #fff;
	transform: translateY(1px) rotate(45deg);
}

.main-page__modal-line:last-child {
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background-color: #fff;
	transform: translateY(-4px) rotate(-45deg);
}

.main-page__authorization {
	top: 0;
	bottom: 0;
	right: -1px;
	position: fixed;
	width: 600px;
	padding-left: 50px;
	background-color: #2A2C2F;
	border-left: 1px solid #ffffff82;
	transform: translateX(110%);
	transition: transform 0.5s ease-in-out;
	z-index: 10;
	display: flex;
	align-items: center;
}

.main-page__modal-container {
	width: 100%;
}

.main-page__modal-title {
	color: #5FAE2C;
	font-size: 32px;
	margin-bottom: 10px;
}

.main-page__modal-paragraph {
	color: #FFF;
	font-size: 18px;
	/* 22.5px */
	padding-bottom: 15px;
	padding-right: 50px;
	border-bottom: 1px solid #ffffff82;
}

.main-page__modal-form {
	margin-top: 30px;
	padding-right: 80px;
}

.main-page__modal-content {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main-page__modal-name {}

.input-wrap {
	position: relative;
}

.main-page__modal-label {}

.form-label {
	position: absolute;
	bottom: 20px;
	left: 15px;
	color: rgba(255, 255, 255, 0.50);
	opacity: 0;
	transition: all 0.5s;
	z-index: 0;
	font-weight: 400;
}

.form-input:focus+.form-label {
	opacity: 1;
	bottom: 37px;
	color: #848B90;
	font-size: 12px;
	font-family: 'Muller', sans-serif;
	font-weight: 300;
	z-index: 3;
}

.form-input:valid:not(:placeholder-shown)+.form-label {
	opacity: 1;
	bottom: 37px;
	color: #848B90;
	font-size: 12px;
	font-family: 'Muller', sans-serif;
	z-index: 3;
}

.main-page__modal-input {}

.form-input {
	width: 100%;
	padding: 19px 15px;
	font-size: 18px;
	color: #fff;
	background-color: unset;
	border-radius: 10px;
	border: 1px solid #fff;
	transition: all 1s, padding 0s;
	position: relative;
	z-index: 1;
}

.form-input:focus {
	padding: 23px 15px 15px 15px;
}

.form-input:valid:not(:placeholder-shown) {
	padding: 23px 15px 15px 15px;
}

.form-input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.50);
	;
}

.form-input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.50);
	;
}

.form-input:focus::-webkit-input-placeholder {
	color: rgb(255 255 255 / 0%);
	;
}

.form-input:focus::-moz-placeholder {
	color: rgb(255 255 255 / 0%);
	;
}

.form-input:valid:not(:placeholder-shown)::-webkit-input-placeholder {
	color: rgb(255 255 255 / 0%);
	;
}

.form-input:valid:not(:placeholder-shown)::-moz-placeholder {
	color: rgb(255 255 255 / 0%);
	;
}

.form-input:focus+.form-lable {
	opacity: 1;
	bottom: 30px;
	color: #848B90;
	font-size: 12px;
	font-family: 'Muller', sans-serif;
	font-weight: 300;
	z-index: 3;
}

.form-input:valid:not(:placeholder-shown)+.form-lable {
	opacity: 1;
	bottom: 30px;
	color: #848B90;
	font-size: 12px;
	font-family: 'Muller', sans-serif;
	z-index: 3;
}

.main-page__modal-password {}

.main-page__modal-buttons {
	display: flex;
	justify-content: space-between;
}

.main-page__modal-checkbox {
	color: #fff;
	display: flex;
	align-items: center;
}

.main-page__modal-check {
	-webkit-appearance: none;
	/* Remove default appearance */
	-moz-appearance: none;
	/* appearance: none; */
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #fff;
	background-color: #2a2c2f;
	border-radius: 2px;
	outline: none;
}

.main-page__modal-check:checked::before {
	content: '\2714';
	/* check mark symbol Unicode */
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: white;
}

.main-page__modal-check:checked {
	background-color: #5FAE2C;
	/* Change background color when checked */
	border: 1px solid #5FAE2C;
}

.main-page__modal-recall {
	color: #5FAE2C;
	font-size: 16px;
	font-weight: 500;
	background-color: unset;
	cursor: pointer;
}

.main-page__modal-submit {
	width: 100%;
	padding: 15px 40px;
	border-radius: 10px;
	color: #fff;
	background: #5FAE2C;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.main-page__recovery {
	top: 0;
	bottom: 0;
	right: -1px;
	position: fixed;
	width: 600px;
	padding-left: 50px;
	background-color: #2A2C2F;
	border-left: 1px solid #ffffff82;
	transform: translateX(110%);
	transition: transform 0.5s ease-in-out;
	z-index: 10;
	display: flex;
	align-items: center;
}

.main-page__modal-back {
	color: #FFF;
	background-color: unset;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.main-page__recovery-title {}

.main-page__recovery-paragraph {}

.main-page__recovery-form {}

.main-page__recovery-content {}

.main-page__recovery-mail {}

.main-page__recovery-label {}

.main-page__recovery-input {}

.main-page__recovery-submit {}

.main-page__phone {
	top: 0;
	bottom: 0;
	right: -1px;
	position: fixed;
	width: 600px;
	padding-left: 50px;
	background-color: #2A2C2F;
	border-left: 1px solid #ffffff82;
	transform: translateX(110%);
	transition: transform 0.5s ease-in-out;
	z-index: 10;
	display: flex;
	align-items: center;
}

.main-page__modal-item_active {
	transform: translateX(0%);
}

.mask-phone {}

@media (max-height: 1080px) {

	.main-page__carousel {
		margin-top: 240px;
		margin-bottom: 70px;
		position: relative;
		z-index: 1;
	}

}

@media (max-width: 1920px) {

	.main-page {
		padding: 0px 20px;
	}

	.main-page__header {
		padding: 0px 20px;
	}

	.main-page__carousel {
		margin-right: -20px;
		width: unset;
	}

}

@media (max-width: 1000px) {

	.main-page__header-personal {
		display: none;
	}

	.main-page__header-phone {
		height: 55px;
	}

	.main-page__title-little {
		display: none;
	}

	.main-page__title-big {
		max-width: 540px;
		font-size: 65px;
	}

	.main-page__title-personal {
		height: 55px;
		margin-top: 20px;
		padding: 16px 60px;
		border-radius: 10px;
		font-size: 18px;
		color: #fff;
		background-color: #5FAE2C;
		display: flex;
		align-items: center;
		cursor: pointer;
		gap: 10px;
	}

}

@media (max-width: 600px) {

	.select-drop_active .select-drop__list{
		max-height: 160px;
	}

	.main-page__header {
		top: 20px;
		z-index: 15;
	}

	.main-page__header-logo {
		max-width: 150px;
		display: flex;
	}

	.main-page__header-phone {
		width: 50px;
		height: 50px;
	}

	.main-page__header-telegram {
		width: 50px;
		height: 50px;
	}

	.main-page__header-logoMain {
		width: 100%;
	}

	.main-page__modal_active .main-page__modal-close {
		right: 20px;
	}

	.main-page__modal-close {
		top: 120px;
		width: 35px;
		height: 35px;
	}

	.main-page__title-big {
		max-width: 350px;
		font-size: 43px;
	}

	.main-page__modal-form {
		padding-right: 20px;
	}

	.main-page__authorization {
		right: 0px;
		left: 0px;
		width: unset;
		padding-left: 20px;
		border-left: 0px solid #ffffff82;
	}

	.main-page__recovery {
		right: 0px;
		left: 0px;
		width: unset;
		padding-left: 20px;
		border-left: 0px solid #ffffff82;
	}

	.main-page__phone {
		right: 0px;
		left: 0px;
		width: unset;
		padding-left: 20px;
		border-left: 0px solid #ffffff82;
	}

	.main-page__modal-title {
		font-size: 27px;
	}

	.main-page__modal-paragraph {
		font-size: 16px;
		padding-right: 20px;
	}

	.main-page__modal-input {
		padding: 15px 15px;
		font-size: 16px;
	}

	.main-page__modal-checkbox {
		font-size: 14px;
	}

	.main-page__modal-recall {
		font-size: 14px;
	}

	.main-page__title {
		margin-top: 150px;
	}

	.main-page__carousel {
		margin-top: unset;
		margin-bottom: unset;
		position: absolute;
		bottom: 20px;
		width: 100%;
		z-index: 1;
	}


}






/*
*********
HEADER
*********
*/


.header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	padding: 20px;
	background: #FFF;
	box-shadow: 0px 2px 6px 0px rgba(36, 36, 36, 0.10);
	z-index: 9;
}

.header:before {
	content: "";
	height: 1px;
	background-color: #D7D9DF;
	bottom: 60px;
	left: 0;
	right: 0;
	position: absolute;
}

.header__container {
	position: relative;
	max-width: 1720px;
	margin: 0 auto;
}

.header__burger {
	display: none;
}

.header__burger-line {}

.header__mobile-logo {
	display: none;
}

.mobile-logo {}

.mobile-logo__link {}

.mobile-logo__link-img {}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header__nav {
	display: flex;
	flex-direction: column;
}

.header__nav-up {
	padding-bottom: 60px;
	display: flex;
	gap: 20px 40px;
	flex-wrap: wrap;
}

.header__nav-logo {
	margin-right: 40px;
}

.nav-logo {}

.nav-logo__link {}

.nav-logo__img {}

.header__nav-link {
	color: #7D7E92;
	font-size: 18px;
	font-weight: 500;
	filter: contrast(0);
	display: flex;
	align-items: center;
	gap: 5px;
}

.header__nav-links {
	display: flex;
	align-items: center;
}

.header__nav-link_active {
	filter: unset;
	color: #5FAE2C;
}

.header__nav-image {}

.header__nav-img {}

.header__nav-down {
	bottom: 0;
	left: 0;
	position: absolute;
	padding-top: 20px;
	display: flex;
	gap: 50px;
}

.nav-down {}

.nav-down__link {
	color: #7D7E92;
	font-size: 16px;
}

.nav-down__link_active {
	color: #5FAE2C;
	border-bottom: 1px solid #5FAE2C;
}

.header__interaction {
	display: flex;
	gap: 40px;
	align-items: center;
}

.header__interaction-left {}

.interaction-left {}

.interaction-left__wrap {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.interaction-left__image {
	width: 44px;
	height: 44px;
	overflow: hidden;
	border: 3px solid #5fae2c;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.interaction-left__img {
	width: 100%;
	object-fit: cover;
}

.interaction-left__name {
	color: #041D0A;
}

.header__interaction-right {
	padding-left: 40px;
	border-left: 1px solid #D7D9DF;
	display: flex;
	align-items: center;
	gap: 20px;
}

.interaction-right {}

.interaction-right__theme {
	width: 65px;
	padding: 5px 8px;
	border-radius: 30px;
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.20), 0px 0px 1px 0px rgba(36, 36, 36, 0.10);
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
}

.interaction-right__theme-image {
	filter: contrast(0);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.interaction-right__theme-image_active {
	filter: unset;
}

.interaction-right__theme-img {
	width: 100%;
	object-fit: cover;
}

.interaction-right__languages {}

.interaction-right__languages-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}

.languages-item {}

.languages-item__flag {}

.languages-item__img {}

.languages-item__text {}

.interaction-right__exit {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.interaction-right__exit-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.interaction-right__exit-img {
	width: 100%;
	object-fit: cover;
}

.interaction-right__exit-text {
	color: #D32E12;
}

.header__nav-admin {
	padding-right: 30px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav-admin {}

.nav-admin__selector {
	width: 260px;
	height: 39px;
	margin-right: 50px;
	color: #041D0A;
	box-shadow: 0px 2px 4px 0px rgba(36, 36, 36, 0.20), 0px 0px 4px 0px rgba(36, 36, 36, 0.15);
}

.nav-admin__selector .select-drop__input-wrap {
	padding: 10px;
}

.nav-admin__link {
	color: #7D7E92;
	font-size: 18px;
}


@media (max-width: 1800px) {

	.header__nav-logo {
		margin-right: 0px;
	}

}

@media (max-width: 1200px) {

	.header {
		padding: 14px 20px;
		box-shadow: unset;
	}

	.header:before {
		display: none;
	}

	.header__burger {
		display: block;
	}

	.header__burger {
		display: block;
		width: 36px;
		height: 36px;
		top: 20px;
		right: 20px;
		position: fixed;
		z-index: 999;
	}

	.header__burger-line {
		width: 100%;
		height: 4px;
		background-color: #151516;
		opacity: 1;
		transition: all 0.5s;
	}

	.header__burger-line:nth-child(1) {
		transform: translate(0px, 0px);
	}

	.header__burger-line:nth-child(2) {
		transform: translate(0px, 12px);
	}

	.header__burger-line:nth-child(3) {
		transform: translate(0px, 24px);
	}

	.header__burger_active .header__burger-line:nth-child(1) {
		transform: translate(0px, 16px) rotate(45deg);
	}

	.header__burger_active .header__burger-line:nth-child(2) {
		transform: translate(0px, 12px) rotate(45deg);
		opacity: 0;
	}

	.header__burger_active .header__burger-line:nth-child(3) {
		transform: translate(0px, 8px) rotate(-45deg);
	}

	.header__nav-logo {
		display: none;
	}

	.header__menu {
		max-width: 500px;
		width: 100%;
		top: 0;
		bottom: -150px;
		right: 0;
		position: fixed;
		transform: translateX(110%);
		padding: 70px 20px 170px 20px;
		background-color: #fff;
		box-shadow: -5px 0px 6px 0px rgba(36, 36, 36, 0.10);
		overflow-y: scroll;
		overflow-x: hidden;
		transition: transform 0.7s ease-in-out;
		display: flex;
		justify-content: unset;
		flex-direction: column;
		align-items: unset;
	}

	.header__menu_show {
		transform: translateX(0%);
	}

	.header__nav {
		margin-bottom: 40px;
	}

	.header__interaction {
		width: 100%;
		margin-top: auto;
		position: unset;
		display: flex;
		gap: 20px;
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	.header__interaction-right {
		width: 100%;
		padding-bottom: 20px;
		padding-left: unset;
		border-left: unset;
		border-bottom: 1px solid #D7D9DF;
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;
	}

	.interaction-right__theme {
		width: 90px;
		padding: 10px 10px;
		border-radius: 30px;
		background: #FFF;
		box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.20), 0px 0px 1px 0px rgba(36, 36, 36, 0.10);
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 8px;
		justify-content: space-between;
		order: 1;
	}

	.interaction-right__theme-image {
		width: 25px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.interaction-right__languages {
		order: 0;
	}

	.interaction-right__exit {
		order: 3;
	}

	.header__nav-up {
		padding-bottom: unset;
		gap: 40px;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: flex-start;
	}

	.header__nav-admin {
		padding-right: unset;
		align-items: flex-start;
		gap: 40px;
		flex-direction: column;
	}

	.header__nav-links {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.header__nav-down {
		position: static;
		padding-top: 20px;
		padding-left: 45px;
		display: flex;
		gap: 20px;
		flex-direction: column;
	}

	.nav-down__link {
		position: relative;
	}

	.nav-down__link:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: -15px;
		margin: auto;
		width: 5px;
		height: 5px;
		background-color: #7d7e92;
		border-radius: 10px;
	}

	.nav-down__link_active:before {
		background-color: #5FAE2C;
	}

	.nav-down__link_active {
		border-bottom: unset;
	}

	.header__mobile-logo {
		display: block;
	}

	.header__nav-link {
		gap: 10px;
	}

	.nav-admin__selector {
		order: 1;
	}

}





/*
*********
CLIENT LIST
*********
*/

.main-content {
	max-width: 1760px;
	margin: 0 auto;
	margin-top: 240px;
	padding: 0px 20px;
}

.mining-briefcase {
	display: flex;
}

.mining-briefcase__left {
	max-width: 1360px;
	width: 100%;
	z-index: 1;
	position: relative;
}

.mining-briefcase__left-names {
	padding: 0px 20px 20px 20px;
	display: flex;
}

.mining-briefcase__left-name {}

.mining-briefcase__left-name_id {
	max-width: 100px;
	width: 100%;
}

.mining-briefcase__left-name_coin {
	max-width: 205px;
	width: 100%;
}

.mining-briefcase__left-name_type {
	max-width: 175px;
	width: 100%;
}

.mining-briefcase__left-name_wallet {
	max-width: 240px;
	width: 100%;
}

.mining-briefcase__left-name_quantity {
	max-width: 165px;
	width: 100%;
}

.mining-briefcase__left-name_price {
	max-width: 170px;
	width: 100%;
}

.mining-briefcase__left-name_balance {
	max-width: 135px;
	width: 100%;
}

.mining-briefcase__left-name_course {
	max-width: 115px;
	width: 100%;
}

.mining-briefcase__left-span {}

.mining-briefcase__left-list {
	height: calc(100vh - 279px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);

	;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mining-briefcase__left-list::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);

	;
	border-radius: 10px;
}

.mining-briefcase__left-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.mining-briefcase__left-list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);

	;
}

.mining-briefcase__left-coin {
	padding: 20px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.10);
	display: flex;
	align-items: center;
}

.item-coin {}

.item-coin__orientation {
	max-width: 305px;
	width: 100%;
	display: flex;
}

.item-coin__order {
	max-width: 100px;
	width: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.item-coin__order-green {
	color: #5FAE2C;
}

.item-coin__name {
	max-width: 205px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
}

.item-coin__name-image {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-coin__name-img {
	width: 100%;
	object-fit: cover;
}

.item-coin__name-text {
	display: flex;
	flex-direction: column;
}

.item-coin__name-first {
	font-size: 18px;
}

.item-coin__name-second {
	color: #7D7E92;
}

.item-coin__type {
	max-width: 175px;
	width: 100%;
}

.item-coin__type_mining {}

.item-coin__type-value {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 40px;
}

.item-coin__type_mining .item-coin__type-value {
	color: #FF6542;
	background: rgba(255, 101, 66, 0.10);
}

.item-coin__type_nodes .item-coin__type-value {
	color: #004777;
	background: rgba(0, 71, 119, 0.10);
}

.item-coin__type_investments .item-coin__type-value {
	color: #5FAE2C;
	background: rgba(95, 174, 44, 0.10);
}

.item-coin__wallet {
	max-width: 240px;
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;
}

.item-coin__wallet-text {
	display: none;
}

.item-coin__wallet-value {
	font-size: 18px;
	max-width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-coin__wallet-copy {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: unset;
	transform: scale(1);
	transition: all 0.1s;
}

.item-coin__wallet-copy:active {
	transform: scale(1.1);
	filter: hue-rotate(273deg);
}

.item-coin__wallet-img {}

.item-coin__quantity {
	max-width: 165px;
	width: 100%;
}

.item-coin__quantity-text {
	display: none;
}

.item-coin__quantity-value {
	font-size: 18px;
}

.item-coin__price {
	max-width: 170px;
	width: 100%;
}

.item-coin__price-text {
	display: none;
}

.item-coin__price-value {
	font-size: 18px;
}

.item-coin__balance {
	max-width: 135px;
	width: 100%;
}

.item-coin__balance-text {
	display: none;
}

.item-coin__balance-value {
	font-size: 18px;
}

.item-coin__course {
	max-width: 115px;
	width: 100%;
}

.item-coin__course-text {
	display: none;
}

.item-coin__course-value {
	display: flex;
	gap: 5px;
	align-items: center;
}

.item-coin__course-image {}

.item-coin__course-img {}

.item-coin__course-span {
	font-size: 18px;
}

.mining-briefcase__right {
	max-width: 360px;
	width: 100%;
	padding-top: 40px;
	padding-left: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.mining-briefcase__right-sum {
	max-width: 330px;
	width: 330px;
	padding: 10px 0px;
	color: #fff;
	background-color: #5FAE2C;
	border-radius: 10px;
}

.mining-briefcase__right-currency {
	padding: 10px 20px;
	display: flex;
	gap: 50px;
}

.mining-briefcase__right-currency:first-child {
	/* padding-bottom: 0; */
	border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.mining-briefcase__right-text {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.mining-briefcase__right-strong {
	font-size: 18px;
}

.mining-briefcase__right-thin {
	color: rgba(255, 255, 255, 0.70);
}

.mining-briefcase__right-value {
	font-size: 26px;
}

.mining-briefcase__right-background {
	max-width: 450px;
	width: 100%;
	bottom: 0;
	right: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

.mining-briefcase__right-img {
	width: 100%;
	object-fit: cover;
}



@media (max-width: 1800px) {

	.mining-briefcase {
		display: flex;
		flex-direction: column-reverse;
	}

	.mining-briefcase__right-background {
		display: none;
	}

	.mining-briefcase__right {
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 0px;
		padding-left: 0px;
		margin-bottom: 60px;
	}

	.mining-briefcase__left-list {
		height: calc(100vh - 486px);
	}

	.mining-briefcase__left {
		max-width: 1600px;
	}

}

@media (max-width: 1400px) {

	.item-coin__orientation {
		max-width: 220px;
	}

	.mining-briefcase__left-name_id {
		max-width: 50px;
	}

	.item-coin__order {
		max-width: 50px;
	}

	.mining-briefcase__left-name_coin {
		max-width: 170px;
	}

	.item-coin__name {
		max-width: 170px;
	}

	.mining-briefcase__left-name_type {
		max-width: 130px;
	}

	.item-coin__type {
		max-width: 130px;
	}

	.mining-briefcase__left-name_quantity {
		max-width: 130px;
	}

	.item-coin__quantity {
		max-width: 130px;
	}

	.mining-briefcase__left-name_price {
		max-width: 130px;
	}

	.item-coin__price {
		max-width: 130px;
	}

}

@media (max-width: 1200px) {

	.main-content {
		margin-top: 100px;
	}

	.mining-briefcase__right {
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.mining-briefcase__right-sum {
		max-width: 600px;
		width: 100%;
	}

	.mining-briefcase__right-currency {
		justify-content: space-between;
	}

	.mining-briefcase__left-list {
		height: unset;
		overflow-y: unset;
		overflow-x: unset;
	}

	.mining-briefcase__left-names {
		display: none;
	}

	.mining-briefcase__left-coin {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
	}

	.item-coin__orientation {
		max-width: unset;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.item-coin__order {
		max-width: unset;
		width: unset;
	}

	.item-coin__name {
		gap: 20px;
	}

	.item-coin__wallet {
		max-width: unset;
		justify-content: space-between;
	}

	.item-coin__wallet-text {
		display: block;
		color: #7D7E92;
	}

	.item-coin__wallet-copy {
		display: none;
	}

	.item-coin__quantity {
		max-width: unset;
		display: flex;
		justify-content: space-between;
	}

	.item-coin__quantity-text {
		display: block;
		color: #7D7E92;
	}

	.item-coin__price {
		max-width: unset;
		display: flex;
		justify-content: space-between;
	}

	.item-coin__price-text {
		display: block;
		color: #7D7E92;
	}

	.item-coin__balance {
		max-width: unset;
		display: flex;
		justify-content: space-between;
	}

	.item-coin__balance-text {
		display: block;
		color: #7D7E92;
	}

	.item-coin__course {
		max-width: unset;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.item-coin__course-text {
		display: block;
		color: #7D7E92;
	}

}





/*
*********
CLIENT FARMS
*********
*/

.main-farms {}

.main-farms__tiles {
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 17px;
}

.main-farms__tile {
	width: 200px;
	/* height: 200px; */
	min-height: 200px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid rgba(95, 174, 44, 0.20);
	background: rgba(95, 174, 44, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-farms__tile-title {
	color: #7D7E92;
	font-size: 18px;
}

.main-farms__tile-content {}

.main-farms__tile-value {
	font-size: 20px;
}

.main-farms__tile-coins {
	max-height: 100px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.main-farms__tile-coins::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.main-farms__tile-coins::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.main-farms__tile-coins::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);
}

.tile-coins {}

.tile-coins__wrap {
	display: flex;
	gap: 5px;
}

.tile-coins__image {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tile-coins__img {
	width: 100%;
	object-fit: cover;
}

.tile-coins__text {}

.main-farms__scroll {
	position: relative;
	max-width: 1300px;
	height: calc(100vh - 490px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 1;
}

.main-farms__scroll::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.main-farms__scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.main-farms__scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);
}

.main-farms__list {
	margin-bottom: 30px;
}

.main-farms__list-farm {
	display: none;
}

.main-farms__list-title {
	color: #7D7E92;
	font-size: 18px;
	margin-bottom: 10px;
}

.main-farms__list-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 17px;
	align-items: stretch;
}

.main-farms__list-item {
	width: 200px;
	height: 140px;
	padding: 20px;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.10);
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.main-farms__list-item_on {}

.main-farms__list-status {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #7f7f7f;
	border-radius: 20px;
}

.main-farms__list-item_on .main-farms__list-status {
	background-color: #5FAE2C;
}

.main-farms__list-item_of .main-farms__list-status {
	background-color: #D32E12;
	opacity: 1;
}


.main-farms__list-card {
	color: #5FAE2C;
	font-size: 18px;
}

.main-farms__list-temperature {
	display: flex;
	gap: 3px;
}

.main-farms__list-gray {
	color: #7D7E92;
}

.main-farms__list-black {}

.main-farms__list-green {
	color: #5FAE2C;
}

.main-farms__list-HR {
	display: flex;
	gap: 3px;
}

.main-farms__list-mining {
	display: flex;
	gap: 3px;
}

.main-farms__list-coin {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-farms__list-img {
	width: 100%;
	object-fit: cover;
}

.main-farms__list-item_of {}

.main-farms__list-item_of>div {
	opacity: 0.5;
}

.main-farms__background {
	max-width: 550px;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-farms__background-img {
	width: 100%;
	object-fit: cover;
}

.main-farms__list-arrow {
	display: none;
}


@media (max-width: 1800px) {

	.main-farms__background {
		display: none;
	}

}

@media (max-width: 1000px) {

	.main-farms__tile {
		width: 100%;
		height: unset;
		min-height: unset;
		padding: unset;
		border-radius: unset;
		border: unset;
		background: unset;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.main-farms__tiles {
		padding: 15px;
		background-color: #fff;
		border-radius: 10px;
		margin-bottom: 40px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.main-farms__tile-coins {
		flex-direction: row;
	}

	.tile-coins__text {
		display: none;
	}

	.main-farms__scroll {
		height: unset;
		overflow-y: unset;
		overflow-x: unset;
	}

	.main-farms__list-arrow {
		display: block;
		top: 20px;
		right: 20px;
		position: absolute;
		transform: translateY(5px) rotate(-180deg);
		transition: all 0.5s ease;
	}

	.main-farms__list_active .main-farms__list-arrow {
		transform: rotate(0deg);
	}

	.main-farms__list-arr {}

	.main-farms__list {
		position: relative;
		padding: 10px;
		margin-bottom: 10px;
		background-color: #fff;
		border-radius: 10px;
		overflow: hidden;
		max-height: 65px;
		transition: max-height 2s ease;
	}

	.main-farms__list_active {
		max-height: 100em;
		transition: max-height 3s ease;
	}

	.main-farms__list-farm {
		display: block;
		color: #5FAE2C;
		margin-bottom: 10px;
	}

	.main-farms__list-item {
		width: 100%;
		height: unset;
		padding: 10px;
		background-color: unset;
		box-shadow: unset;
		border: 1px solid #5FAE2C;
	}

}





/*
*********
ALL FARMS
*********
*/


.all-farms {}

.all-farms__search {
	position: relative;
	margin-bottom: 50px;
}

.all-farms__search:before {
	content: "";
	background-image: url(./img/icons/magnifying.svg);
	width: 24px;
	height: 24px;
	top: 14px;
	left: 15px;
	position: absolute;
	z-index: 2;
}

.all-farms__search-input {
	width: 100%;
	max-width: 420px;
	padding: 17px 15px 17px 45px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #f6f7fa;
	border: 1px solid rgba(95, 174, 44, 0.70);
}

.all-farms__content {
	width: 100%;
	max-width: 945px;
}

.all-farms__content-up {
	padding: 20px;
	padding-top: unset;
	display: flex;
}

.all-farms__content-type {
	color: #5FAE2C;
}

.all-farms__content-type {}

.all-farms__content-type_id {
	max-width: 135px;
	width: 100%;
	padding-left: 20px;
}

.all-farms__content-type_name {
	max-width: 270px;
	width: 100%;
}

.all-farms__content-type_work {
	max-width: 170px;
	width: 100%;
}

.all-farms__content-type_graph {
	max-width: 205px;
	width: 100%;
}

.all-farms__content-list {
	max-height: calc(100vh - 385px);
	overflow-y: auto;
	padding-right: 5px;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.all-farms__content-list::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.all-farms__content-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.all-farms__content-list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);
}

.all-farms__content-item {
	padding: 30px 20px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.10);
	display: flex;
}

.all-farms__content-id {
	max-width: 135px;
	width: 100%;
	font-size: 18px;
}

.all-farms__content-green {
	color: #5FAE2C;
}

.all-farms__content-name {
	max-width: 270px;
	width: 100%;
	font-size: 18px;
}

.all-farms__content-work {
	max-width: 170px;
	width: 100%;
	font-size: 18px;
}

.all-farms__content-graph {
	max-width: 205px;
	width: 100%;
	font-size: 18px;
}

.all-farms__content-mobile {
	display: none;
}

.all-farms__content-more {
	display: flex;
	align-items: center;
	gap: 5px;
}

.all-farms__content-more span {
	color: #5FAE2C;
	font-size: 18px;
}

.all-farms__content-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.all-farms__content-img {}

@media (max-width: 1000px) {

	.all-farms__content-list {
		max-height: unset;
		overflow-y: unset;
	}

	.all-farms__content-up {
		display: none;
	}

	.all-farms__search {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.all-farms__search-input {
		max-width: 600px;
	}

	.all-farms__content-item {
		max-width: 600px;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
		display: flex;
	}

	.all-farms__content-id {
		max-width: unset;
		width: unset;
	}

	.all-farms__content-name {
		max-width: unset;
		width: unset;
	}

	.all-farms__content-work {
		max-width: unset;
		display: flex;
		justify-content: flex-end;
	}

	.all-farms__content-graph {
		max-width: unset;
		display: flex;
		justify-content: flex-end;
	}

	.all-farms__content-mobile {
		display: block;
		margin-right: auto;
	}

	.all-farms__content-more {
		margin: auto;
		margin-top: 20px;
		border-bottom: 1px solid #5fae2c;
		text-transform: uppercase;
	}

	.all-farms__content-image {
		display: none;
	}


}





/*
*********
ADMIN USERS
*********
*/

.admin-users {
	display: flex;
	align-items: flex-start;
}

.admin-users__content {
	max-width: 1380px;
	width: 100%;
}

.admin-users__type {
	padding: 20px;
	padding-top: unset;
	display: flex;
}

.admin-users__type-item {
	color: #5FAE2C;
}

.admin-users__type-item_id {
	max-width: 125px;
	width: 100%;
}

.admin-users__type-item_login {
	max-width: 260px;
	width: 100%;
}

.admin-users__type-item_mail {
	max-width: 270px;
	width: 100%;
}

.admin-users__type-item_admin {
	max-width: 215px;
	width: 100%;
}

.admin-users__type-item_online {
	max-width: 150px;
	width: 100%;
}

.admin-users__type-item_client {
	max-width: 370px;
	width: 100%;
}

.admin-users__list {
	max-height: calc(100vh - 279px);
	overflow-y: auto;
	padding-right: 5px;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.admin-users__list::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.admin-users__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.admin-users__list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);
}

.admin-users__list-item {
	padding: 30px 20px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.10);
	display: flex;
}

.admin-users__list-id {
	max-width: 125px;
	width: 100%;
	font-size: 18px;
}

.admin-users__list-green {
	color: #5FAE2C;
}

.admin-users__list-login {
	max-width: 260px;
	width: 100%;
	font-size: 18px;
}

.admin-users__list-mail {
	max-width: 270px;
	width: 100%;
	font-size: 18px;
}

.admin-users__list-admin {
	max-width: 215px;
	width: 100%;
	padding-left: 60px;
}

.admin-users__list-yes {}

.admin-users__list-tick {
	display: none;
}

.admin-users__list-yes .admin-users__list-tick {
	display: flex;
}

.admin-users__list-cross {
	display: none;
}

.admin-users__list-no .admin-users__list-cross {
	display: flex;
}

.admin-users__list-online {
	max-width: 150px;
	width: 100%;
	padding-left: 25px;
}

.admin-users__list-client {
	max-width: 370px;
	width: 100%;
	font-size: 18px;
}

.admin-users__list-no {}

.admin-users__list-mobile {
	display: none;
}

.admin-users__add {
	padding: 15px 20px;
	margin-top: 40px;
	margin-left: 30px;
	border-radius: 10px;
	background: #5FAE2C;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.admin-users__add-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.admin-users__add-img {}

.admin-users__add-text {
	color: #fff;
}

.admin-users__modal {}

.modal-right {
	background-color: #00000000;
	transition: background-color 0.5s;
}

.modal-right_active {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9;
	background-color: #00000075;
}

.modal-right__modal-close {
	width: 48px;
	height: 48px;
	margin-top: 20px;
	margin-right: 20px;
	background-color: unset;
	transition: right 0.5s ease-in-out;
	cursor: pointer;
	z-index: 999;
}

.modal-right_active .modal-right__modal-close {
	right: 80px;
}

.modal-right__modal-line {}

.modal-right__modal-line:first-child {
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background-color: #5FAE2C;
	transform: translateY(1px) rotate(45deg);
}

.modal-right__modal-line:last-child {
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background-color: #5FAE2C;
	transform: translateY(-4px) rotate(-45deg);
}

.modal-right__authorization {}

.modal-right__modal-item {
	top: 0;
	bottom: 0;
	right: -1px;
	position: fixed;
	width: 600px;
	padding-left: 50px;
	background-color: #ffffff;
	transform: translateX(110%);
	transition: transform 0.5s ease-in-out;
	box-shadow: 2px 0px 10px 0px #000;
	z-index: 10;
	overflow-y: auto;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.modal-right_active .modal-right__modal-item {
	transform: translateX(0%);
}

.modal-right__modal-container {
	width: 100%;
}

.modal-right__modal-title {
	color: #5FAE2C;
	font-size: 32px;
	margin-bottom: 10px;
}

.modal-right__modal-paragraph {
	color: #041D0A;
	font-size: 18px;
	padding-bottom: 15px;
	padding-right: 50px;
	border-bottom: 1px solid #041d0a78;
}

.modal-right__modal-form {
	margin-top: 30px;
	padding-right: 80px;
}

.modal-right__modal-content {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal-right__modal-name {}

.input-wrap {}

.modal-right__modal-input {
	width: 100%;
	padding: 19px 15px;
	font-size: 18px;
	color: #041D0A;
	background-color: unset;
	border-radius: 10px;
	border: 1px solid rgba(95, 174, 44, 0.70);
	transition: all 1s, padding 0s;
	position: relative;
	z-index: 1;
}

.modal-right__modal-input::-webkit-input-placeholder {
	color: #7D7E92;
	;
}

.modal-right__modal-inputut::-moz-placeholder {
	color: #7D7E92;
	;
}

.form-input {}

.modal-right__modal-label {}

.form-label {}

.modal-right__modal-password {}

.modal-right__modal-selects {
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(36, 36, 36, 0.20), 0px 0px 4px 0px rgba(36, 36, 36, 0.15);
}

.modal-selects__drop {
	height: 60px;
	padding: 10px 15px;
}

.modal-selects__drop .select-drop__input {
	font-size: 18px;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modal-right__modal-selects .select-drop__arrow {
	top: 16px;
	right: 15px;
}

.modal-right__modal-selects .select-drop__list {
	top: 65px;
}

.modal-right__modal-selects .select-drop__list-item {
	padding: 15px;
	font-size: 18px;
}

.modal-right__modal-buttons {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-right__modal-checkbox {
	color: #041D0A;
	display: flex;
	align-items: center;
}

.modal-right__modal-check {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #7D7E92;
	background-color: #fff;
	border-radius: 2px;
	outline: none;
}

.modal-right__modal-check:checked::before {
	content: '\2714';
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: white;
}

.modal-right__modal-check:checked {
	background-color: #5FAE2C;
	border: 1px solid #5FAE2C;
}

.modal-right__modal-recall {}

.modal-right__modal-submit {
	width: 100%;
	padding: 15px 40px;
	border-radius: 10px;
	color: #fff;
	background: #5FAE2C;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

@media (max-width: 1800px) {

	.admin-users {
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	.admin-users__add {
		margin-top: unset;
		margin-left: unset;
		margin-bottom: 40px;
	}

	.admin-users__list {
		max-height: calc(100vh - 373px);
	}

}

@media (max-width: 1400px) {

	.admin-users__type-item_id {
		max-width: 70px;
	}

	.admin-users__list-id {
		max-width: 70px;
	}

}

@media (max-width: 1200px) {

	.admin-users {
		margin-top: 130px;
	}

	.admin-users__list {
		padding-right: unset;
		max-height: unset;
		overflow: unset;
		gap: 20px;
	}

	.admin-users__type {
		display: none;
	}

	.admin-users__list-item {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.admin-users__add {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 40px;
		justify-content: center;
	}

	.admin-users__list-admin {
		padding-left: unset;
		display: flex;
		justify-content: flex-end;
		max-width: unset;
	}

	.admin-users__list-online {
		padding-left: unset;
		max-width: unset;
		display: flex;
		justify-content: flex-end;
	}

	.admin-users__list-client {
		max-width: unset;
		font-size: 18px;
		display: flex;
		justify-content: flex-end;
	}

	.admin-users__list-mobile {
		display: block;
		font-size: 16px;
		margin-right: auto;
	}

	.admin-users__list-mail {
		max-width: unset;
		display: flex;
		justify-content: flex-end;
	}

	.admin-users__list-login {
		max-width: unset;
		display: flex;
		justify-content: flex-end;
	}

	.admin-users__list-span {
		max-width: 170px;
	}

}

@media (max-width: 600px) {

	.modal-right__modal-item {
		left: 0;
		right: 0px;
		width: unset;
		padding: 20px 20px;
	}

	.modal-right__modal-paragraph {
		padding-right: unset;
		font-size: 16px;
	}

	.modal-right__modal-form {
		padding-right: unset;
	}

	.modal-right__modal-title {
		font-size: 27px;
	}

	.modal-right__modal-close {
		top: 30px;
		width: 35px;
		height: 35px;
		margin-top: 0px;
		margin-right: 0px;
		padding-block: 17px;
	}

	.modal-right_active .modal-right__modal-close {
		right: 30px;
	}

	.modal-right__modal-container {
		margin-top: 20px;
	}

}





/*
*********
ADMIN CLIENTS
*********
*/


.admin-clients {
	display: flex;
	align-items: flex-start;
}

.admin-clients__content {
	max-width: 1380px;
	width: 100%;
}

.admin-clients__type {
	padding: 20px;
	padding-top: unset;
	display: flex;
}

.admin-clients__type-item {
	color: #5FAE2C;
}

.admin-clients__type-item_id {
	max-width: 100px;
	width: 100%;
}

.admin-clients__type-item_last {
	max-width: 220px;
	width: 100%;
}

.admin-clients__type-item_first {
	max-width: 230px;
	width: 100%;
}

.admin-clients__type-item_group {
	max-width: 360px;
	width: 100%;
}

.admin-clients__type-item_users {
	max-width: 305px;
	width: 100%;
}

.admin-clients__list {
	max-height: calc(100vh - 279px);
	overflow-y: auto;
	padding-right: 5px;
	scrollbar-width: thin;
	scrollbar-color: #DFDFDF rgba(223, 223, 223, 0.30);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.admin-clients__list::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(223, 223, 223, 0.30);
	border-radius: 10px;
}

.admin-clients__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DFDFDF;
}

.admin-clients__list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(223, 223, 223, 0.30);
}

.admin-clients__list-item {
	padding: 30px 20px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.10);
	display: flex;
}

.admin-clients__list-id {
	max-width: 100px;
	width: 100%;
	font-size: 18px;
}

.admin-clients__list-green {
	color: #5FAE2C;
}

.admin-clients__list-login {
	max-width: 220px;
	width: 100%;
	font-size: 18px;
}

.admin-clients__list-mobile {
	display: none;
}

.admin-clients__list-hash {
	max-width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin-clients__list-mail {
	max-width: 230px;
	width: 100%;
	font-size: 18px;
}

.admin-clients__list-admin {
	max-width: 360px;
	width: 100%;
	font-size: 18px;
}

.admin-clients__list-yes {}

.admin-clients__list-online {
	max-width: 305px;
	width: 100%;
	font-size: 18px;
}

.admin-clients__content-more {
	max-width: 110px;
	width: 100%;
	display: flex;
	gap: 5px;
}

.admin-clients__content-more span {
	color: #5FAE2C;
}

.admin-clients__content-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.admin-clients__content-img {}

.admin-clients__add {
	padding: 15px 20px;
	margin-top: 40px;
	margin-left: 30px;
	border-radius: 10px;
	background: #5FAE2C;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.admin-clients__add-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.admin-clients__add-img {}

.admin-clients__add-text {
	color: #fff;
}

.modal-right__modal-group {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.modal-right__modal-part {
	width: calc(50% - 10px);
}


@media (max-width: 1800px) {

	.admin-clients__list {
		max-height: calc(100vh - 373px);
	}

	.admin-clients {
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	.admin-clients__add {
		margin-top: unset;
		margin-left: unset;
		margin-bottom: 40px;
	}

	.admin-clients__type-item_id {
		max-width: 50px;
	}

	.admin-clients__list-id {
		max-width: 50px;
	}

	.admin-clients__type-item_last {
		max-width: 150px;
	}

	.admin-clients__list-login {
		max-width: 150px;
	}

	.admin-clients__type-item_first {
		max-width: 150px;
	}

	.admin-clients__list-mail {
		max-width: 150px;
	}

	.admin-clients__type-item_users {
		max-width: 250px;
	}

	.admin-clients__list-online {
		max-width: 250px;
	}

	.admin-clients__content-more {
		margin-left: auto;
	}

}

@media (max-width: 1200px) {

	.admin-clients {
		margin-top: 130px;
		align-items: center;
	}

	.admin-clients__list-item {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.admin-clients__add {
		max-width: 600px;
		width: 100%;
		justify-content: center;
	}

	.admin-clients__list {
		max-height: unset;
		overflow-y: unset;
	}

	.admin-clients__list-mobile {
		display: block;
		font-size: 16px;
		margin-right: auto;
	}

	.admin-clients__list-hash {
		max-width: 170px;
	}

	.admin-clients__content-more {
		width: unset;
		margin: auto;
		margin-top: 20px;
		border-bottom: 1px solid #5fae2c;
		text-transform: uppercase;
	}

	.admin-clients__type {
		display: none;
	}

	.admin-clients__content-image {
		display: none;
	}

	.admin-clients__list-login {
		max-width: unset;
		display: flex;
		font-size: 16px;
	}

	.admin-clients__list-mail {
		max-width: unset;
		display: flex;
		font-size: 16px;
	}

	.admin-clients__list-admin {
		max-width: unset;
		display: flex;
		font-size: 16px;
	}

	.admin-clients__list-online {
		max-width: unset;
		display: flex;
		font-size: 16px;
	}


}

@media (max-width: 600px) {

	.modal-right__modal-group {
		display: flex;
		flex-direction: column;
	}

	.modal-right__modal-part {
		width: unset;
	}

}







@media (max-width: 900px) {}

@media (max-width: 800px) {}

@media (max-width: 600px) {}